//extends layout
//
//block content
//  h1= title
//  p Welcome to #{title}

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='apple-touch-icon', sizes='76x76', href='/assets/img/apple-icon.png')
    link(rel='icon', type='image/png', href='/assets/img/favicon.png')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(http-equiv='refresh', content='15')
    title #{title}
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='viewport', content='width=device-width')
    // Bootstrap core CSS
    link(href='/assets/css/bootstrap.min.css', rel='stylesheet')
    // Material Dashboard CSS
    link(href='/assets/css/material-dashboard.css?v=1.2.0', rel='stylesheet')
    // CSS for ig Purpose, don't include it in your project
    link(href='/assets/css/ig.css', rel='stylesheet')
    // Fonts and icons
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons', rel='stylesheet', type='text/css')
  body
    .wrapper
      .sidebar(data-color='purple', data-image='/assets/img/sidebar-1.jpg')
        //
          Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
          Tip 2: you can also add an image using data-image tag
        .logo
          a.simple-text(href='/')
            | Intelligent
            br
            |                     Gartenarbeiten
        .sidebar-wrapper
          ul.nav
            li.active
              a(href='/')
                i.material-icons dashboard
                p Dashboard
      .main-panel
        nav.navbar.navbar-transparent.navbar-absolute
          .container-fluid
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#')  Dashboard: Raspberry Pi 3
           
        .content
          .container-fluid
            .row
              .col-lg-4.col-md-6.col-sm-6
                .card.card-stats
                  .card-header(onclick="ig.moistureNotification('top', 'center')", data-background-color='blue')
                    i.material-icons invert_colors
                  .card-content
                    p.category Moisture
                    h4.title
                      | #{moisture}/1024
                  .card-footer
                    .stats
                      i.material-icons update
                      |  Soil Type: Clay, fieldCapacity: 43% and wiltingPoint: 30%

              .col-lg-4.col-md-6.col-sm-6
                .card.card-stats
                  .card-header(onclick="ig.lightNotification('top', 'center')", data-background-color='orange')
                    i.material-icons wb_sunny
                  .card-content
                    p.category Light
                    h4.title
                      | #{light}/1024
                  .card-footer
                    .stats
                      i.material-icons update
                      |  Just Updated
              .col-lg-4.col-md-6.col-sm-6
                .card.card-stats
                  .card-header(onclick="ig.healthNotification('top', 'center')", data-background-color='green')
                    i.material-icons timeline
                  .card-content
                    p.category Approximated Timeline : #{decision}
              .col-lg-4.col-md-6.col-sm-6
                .card.card-stats
                  .card-header(onclick="ig.healthNotification('top', 'center')", data-background-color='grey')
                    i.material-icons cloud
                  .card-content
                    p.category Weather: #{weather}

            .row
              .col-md-4
                .card
                  .card-header.card-chart(data-background-color='blue')
                    #moistureChart.ct-chart
                  .card-content
                    h4.title Moisture Content
                    p.category
                      span.text-success
                        |  Recent Statistics

              .col-md-4
                .card
                  .card-header.card-chart(data-background-color='orange')
                    #lightChart.ct-chart
                  .card-content
                    h4.title Light availability
                    p.category Recent statistics

              .col-md-4
                .card
                  .card-header.card-chart(data-background-color='green')
                    #healthChart.ct-chart
                  .card-content
                    h4.title Estimated Moisture
        footer.footer
          .container-fluid
            nav.pull-left
              ul
                li
                  a(href='#')
                    | Dashboard
                li
                  a(href='#')
                    | Moisture
                li
                  a(href='#')
                    | Light
                li
                  a(href='#')
                    | Plant health
            p.copyright.pull-right
              | ©
              script.
                  document.write(new Date().getFullYear())
              a(href='#') Intelligent Gartenarbeiten
  // Core JS Files
  script(src='/assets/js/jquery-3.2.1.min.js', type='text/javascript')
  script(src='/assets/js/bootstrap.min.js', type='text/javascript')
  script(src='/assets/js/material.min.js', type='text/javascript')
  // Charts Plugin
  script(src='/assets/js/chartist.min.js')
  // Dynamic Elements plugin
  script(src='/assets/js/arrive.min.js')
  // PerfectScrollbar Library
  script(src='/assets/js/perfect-scrollbar.jquery.min.js')
  // Notifications Plugin
  script(src='/assets/js/bootstrap-notify.js')
  // Material Dashboard javascript methods
  script(src='/assets/js/material-dashboard.js?v=1.2.0')
  // Material Dashboard ig methods, don't include it in your project!
  script(src='/assets/js/ig.js')
  script(type='text/javascript').
      var decision = '';
      $(document).ready(function() {


          var moistureReading = JSON.parse('!{moistureReading}');
          var sensorReadingTime = JSON.parse('!{sensorReadingTime}');
          var lightReading = JSON.parse('!{lightReading}');
          var dataForML = JSON.parse('!{dataForML}');

          /* ----------==========     Daily Heatlh initialization    ==========---------- */

          dataHealthChart = {
              labels: sensorReadingTime,
              series: [
                  dataForML
              ]
          };

          optionsHealthChart = {
              lineSmooth: Chartist.Interpolation.cardinal({
                  tension: 0
              }),
              low: 0,
              high: 110, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
              chartPadding: {
                  top: 2,
                  right: 0,
                  bottom: 0,
                  left: 0
              }
          }

          var healthChart = new Chartist.Line('#healthChart', dataHealthChart, optionsHealthChart);

          md.startAnimationForLineChart(healthChart);

          console.log(dataForML);

      /* ----------==========     Moisture Chart initialization    ==========---------- */

      dataMoistureChart = {
          labels: sensorReadingTime,
          series: [
              moistureReading
          ]
      };

      optionsMoistureChart = {
          lineSmooth: Chartist.Interpolation.cardinal({
              tension: 0
          }),
          low: 0,
          high: 110, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
          chartPadding: {
              top: 2,
              right: 0,
              bottom: 0,
              left: 0
          }
      }

      var moistureChart = new Chartist.Line('#moistureChart', dataMoistureChart, optionsMoistureChart);

      // start animation for the Completed Tasks Chart - Line Chart
      md.startAnimationForLineChart(moistureChart);

          /* ----------==========    Light Chart initialization    ==========---------- */

          var dataLightChart = {
              labels: sensorReadingTime,
              series: [
                  lightReading
              ]
          };
          var optionsLightChart = {
              axisX: {
                  showGrid: false
              },
              low: 0,
              high: 110,
              chartPadding: {
                  top: 2,
                  right: 5,
                  bottom: 0,
                  left: 0
              }
          };
          var responsiveOptions = [
              ['screen and (max-width: 640px)', {
                  seriesBarDistance: 5,
                  axisX: {
                      labelInterpolationFnc: function(value) {
                          return value[0];
                      }
                  }
              }]
          ];
          var lightChart = Chartist.Bar('#lightChart', dataLightChart, optionsLightChart, responsiveOptions);

          //start animation for the Emails Subscription Chart
          md.startAnimationForBarChart(lightChart);

          function doPoll(){
              $.get('/notification', function(data) {
                  //alert(data);  // process results here
                    if(data.decision != decision) {
                      decision = data.decision;
                      var notify = $.notify(decision, {
                        type: 'success',
                        allow_dismiss: true,
                        showProgressbar: false
                      });

                      setTimeout(function() {
                        $.notifyClose();
                      }, 6000);
                     
                  }
              });

               setTimeout(doPoll,6000);
          }

          doPoll();

      });